/* src/pages/staff/StaffDashboard.module.css */

.container {
  display: flex;
  min-height: 100vh;
  background: #f3f4f6;
}

.sidebar {
  background: #111827;
  color: white;

  transition: all 0.3s ease;

  padding: 1.2rem;
  box-sizing: border-box;

  border-right: 1px solid #374151;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.open {
  width: 260px;
}

.closed {
  width: 75px;
}

.toggleBtn {
  background: #2563eb;
  color: white;

  border: none;
  border-radius: 8px;

  width: 45px;
  height: 45px;

  font-size: 1.2rem;

  cursor: pointer;

  margin-bottom: 1.5rem;
}

.heading {
  margin-bottom: 1.5rem;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.link {
  text-decoration: none;
  color: #d1d5db;

  padding: 0.8rem 1rem;

  border-radius: 8px;

  transition: 0.2s ease;
}

.link:hover {
  background: #1f2937;
  color: white;
}

.activeLink {
  text-decoration: none;

  background: #2563eb;
  color: white;

  padding: 0.8rem 1rem;

  border-radius: 8px;
}

.logoutBtn {
  margin-top: auto;

  padding: 0.9rem;

  border: none;
  border-radius: 8px;

  background: #dc2626;
  color: white;

  cursor: pointer;
}

.main {
  flex: 1;
  padding: 2rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100% !important;
    border-right: none;
    border-bottom: 1px solid #374151;
  }

  .main {
    padding: 1rem;
  }
}